@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Source Sans Pro';
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

::selection {
    background-color: rgba(61, 177, 255, 0.356);
}

:root{
    primaryBackground: #F7F7F8;
    secondaryBackground: #4c91b185;
    primaryText: #141414;
    secondaryText: #FFFFFF;
    thirdText: #D9D9D9;
    accent: #B9FF65;
}

:root{
    primaryBackground: #141414;
    secondaryBackground: #242424;
    primaryText: #F7F7F8;
    secondaryText: #FFF;
    thirdText: #D9D9D9;
    accent: #B9FF65;
}